.slick-prev {
  z-index: 1;
}

.slick-prev:before {
  content: "";
}

.slick-prev:hover:before {
  display: block;
  text-align: center;
  content: "\003c";
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  width: 25px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  font-family: "Spoqa Han Sans Neo";
}

.slick-next {
  z-index: 1;
}

.slick-next:before {
  content: "";
}

.slick-next:hover:before {
  display: block;
  text-align: center;
  content: "\003e";
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  width: 25px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  font-family: "Spoqa Han Sans Neo";
}

.slick-dots {
  bottom: 0;
}

.slick-dots li.slick-active button:before {
  color: #ffffff;
}
